.search_input{
  height: 80rpx;
  padding: 10rpx;
  background-color: var(--themeColor);
  navigator{
    height: 100%;
    display: flex;  // 伸缩盒子
    justify-content: center;//水平居中
    align-items: center;  //垂直居中
    background-color: #fff;
    border-radius: 15rpx;
    color:#666;
  }
}
